$primary: #2C2F33;
$primary-text: #FFFFFF;
$primary-shadow: #23272a;

body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    background-color: $primary !important;
    color: $primary-text !important;
}

.main-content-section {
    max-width: 1600px;
    margin: 40px auto;
}

:export {
    brandPrimary: $primary;
    brandPrimaryTextColor: $primary-text;
    brandPrimaryShadow: $primary-shadow;
}
