$normal: #9ca1a2;
$fire: #ffa44f;
$water: #569cd9;
$electric: #f6da54;
$grass: #5ebc64;
$ice: #80d2c6;
$fighting: #d84260;
$poison: #b463ce;
$ground: #d87b4b;
$flying: #98b2e4;
$psychic: #f77779;
$bug: #96c22f;
$rock: #cbbe8e;
$ghost: #5e6dba;
$dragon: #0770c1;
$dark: #5f5f6f;
$steel: #5592a2;
$fairy: #ef9ae2;

:export {
    normal: $normal;
    fire: $fire;
    water: $water;
    electric: $electric;
    grass: $grass;
    ice: $ice;
    fighting: $fighting;
    poison: $poison;
    ground: $ground;
    flying: $flying;
    psychic: $psychic;
    bug: $bug;
    rock: $rock;
    ghost: $ghost;
    dragon: $dragon;
    dark: $dark;
    steel: $steel;
    fairy: $fairy;
}
